@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Alex+Brush&family=Anton&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karantina:wght@300;400;700&family=Noto+Serif+Dives+Akuru&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    padding: 0;
    margin: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.main1 {
    height: 100vh;
    width: 100vw;
    background-image: url("Assets/back2.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items:flex-end; */
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 1s ease;
}

.input-container {
    position: absolute;
    text-align: center;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: clamp(10rem, 45vh, 25rem);
    width: clamp(20rem, 50vw, 50rem);
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.15);
    /* translucent gradient base */
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

    background-image: linear-gradient(135deg,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0) 70%);
    background-clip: padding-box;
    overflow: hidden;
    z-index: 9;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.age {
    position: relative;
    font-size: 4.2rem;
    margin: 0;
    padding: 0.8rem;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* Gradient fill */
    background: linear-gradient(#f40039, #ff1592);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Shadow BEHIND the text */
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.6));
    caret-color: transparent;

}

#dob {
    height: 3rem;
    width: 22rem;
    text-align: center;
    transition: all 0.3s ease;
}

.but {
    height: 3rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: #ff174d;
    color: white;
    margin: 10px;
    /* position: absolute; */
}


.glow {
    position: absolute;
    top: -200%;
    left: -200%;
    width: 600%;
    height: 600%;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0) 47%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 53%);
    pointer-events: none;
}

.main2 {
    height: 100vh;
    width: 100%;
    background-image: url("Assets/back3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}


.active {
    opacity: 1;
    z-index: 1;
}

#welcome {
    font-size: 8rem;
    font-family: "Alex Brush", cursive;
    font-weight: 500;
    font-style: normal;
    caret-color: transparent;
    opacity: 1;
    /* animation: welcomeAnim 4s ease forwards; */
}

#main-cont {
    display: none;
}

.card {
    position: relative;
    height: 40vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    animation: pop 0.3s ease;
    caret-color: transparent;
}

.card1 {
    position: relative;
}

.card1.hide-cursor {
    cursor: none;
}

/* Lottie cursor */
#custom-cursor {
    position: fixed;
    width: 300px;
    height: 150px;
    pointer-events: none;
    z-index: 9999;
    display: none;
    transform: translate(-50%, -50%);
    /* center the cursor */
}

.sign-in {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: rgb(246, 13, 137);
    position: absolute;
    top: 35%;
    left: 5%;
    caret-color: transparent;

}

.wait {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgb(205, 0, 202);
    position: absolute;
    top: 90%;
    left: 32%;
    caret-color: transparent;

}

@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.card-img {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.que {
    /* position: absolute; */
    z-index: 2;
    font-family: "Indie Flower", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 3rem;
    caret-color: transparent;
    margin-top: 6rem;
}

.line {
    height: 2px;
    width: 500px;
    /* position: absolute; */
    z-index: 2;
    background: black;
    /* top: 20rem; */
}

.opt {
    /* position: absolute; */
    top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    caret-color: transparent;
}

.option-line {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    z-index: 2;

}

.midline {
    height: 80px;
    width: 2px;
    z-index: 2;
    background: black;
}

.optionss {
    font-size: 40px;
    height: 100%;
    width: 45%;
    /* padding: 40px 30px; */
    border: none;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.opt2 {
    cursor: not-allowed !important;
}

.opt3 {
    width: 100%;

}

.madam-ji {
    position: absolute;
    top: 4%;
    left: 49%;
    height: 80px;
    color: rgb(154, 0, 26);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    font-style: normal;
    border-right: .15em solid rgb(147, 0, 29);
    white-space: nowrap;
    overflow: hidden;

    /* Animation */
    animation: typing 6s steps(15, end) infinite,
        blink-caret .5s step-end infinite alternate;
}

.activee {
    display: flex;
    opacity: 1;
    z-index: 1;
}

.output {
    height: 600px;
    width: 950px;
    position: absolute;
    top: 0%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: pop 0.3s ease;
    caret-color: transparent;
}

.result-text1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.result-text2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.output img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.but2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 75%;
    /* z-index: 9; */
}

#trending{
    width: 100%;
    position: absolute;
    top: 55%;
}

.container{
    width: 100%;
}

.trending-slider {
    width: 90%;
    /* max-width: 1820px; */
    height: 400px;
    margin: auto;

      /* fade mask */
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.trending-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.trending-slide-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.trending-slide .trending-slide-img img {
    width: 100%;
    max-width: 20rem;
    /* height: 42rem; */
    object-fit: cover;
    border-radius: 2rem;
}

/* .swiper-slide{
      width: 60%;
    } */

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

#music{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
}

.music-container {
  width: 175px;
  height: 175px;
  background-color: #ABC4AA;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 0 0 #675D50;
}

.plate {
  width: fit-content;
}

.plate .black,
.plate .white,
.plate .center,
.plate .border {
  border-radius: 100%;
}

.music-container,
.plate .black,
.plate .white,
.plate .border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate .black {
  width: 150px;
  height: 150px;
  background-color: #675D50;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.plate .white {
  width: 70px;
  height: 70px;
  background-color: #F3DEBA;
}

.plate .center {
  width: 20px;
  height: 20px;
  background-color: #675D50;
}

.plate .border {
  width: 111px;
  height: 111px;
  border-top: 3px solid #F3DEBA;
  border-bottom: 3px solid #F3DEBA;
  border-left: 3px solid #675D50;
  border-right: 3px solid #675D50;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  rotate: -45deg;
}

.player .circ {
  width: 25px;
  height: 25px;
  background-color: #F3DEBA;
  border-radius: 100%;
  z-index: 1;
}

.player .rect {
  width: 10px;
  height: 55px;
  background-color: #F3DEBA;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
